@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    background:#fff5ea ;
}

body h2 {
    color: #ffc1c4;
    font-weight: 400;
}

main {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.spnQtd {
    text-align: end;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 5px;
}


button {
    width: 100%;
    text-align: start;
    padding: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ffc1c4;
    color: black;
    font-weight: 500;
}

.finish {
    display: none;
    flex-direction: column;
    gap: 10px;
}

.finish button {
    text-align: center;
}

.result-image {
    width: 150px; /* Ajuste o tamanho conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 8px; /* Adiciona bordas arredondadas, se desejado */
    margin-bottom: 20px; /* Espaçamento abaixo da imagem */
    display: block; /* Garante que a imagem é exibida */
}


/* Media Queries para Responsividade */

/* Para dispositivos móveis (telas menores que 600px) */
@media (max-width: 600px) {
    .question {
        font-size: 1em; /* Ajusta o tamanho da fonte da pergunta */
    }

    .answers .answer {
        font-size: 14px; /* Ajusta o tamanho da fonte das alternativas */
        padding: 8px 16px; /* Ajusta o padding */
    }

    h2 {
        font-size: 1.2em; /* Ajusta o tamanho da fonte do título */
    }

    .finish button {
        padding: 8px 16px; /* Ajusta o padding do botão de reinício */
    }
}

/* Para tablets (telas entre 600px e 900px) */
@media (min-width: 600px) and (max-width: 900px) {
    .question {
        font-size: 1.1em; /* Ajusta o tamanho da fonte da pergunta */
    }

    .answers .answer {
        font-size: 15px; /* Ajusta o tamanho da fonte das alternativas */
        padding: 9px 18px; /* Ajusta o padding */
    }

    h2 {
        font-size: 1.4em; /* Ajusta o tamanho da fonte do título */
    }

    .finish button {
        padding: 9px 18px; /* Ajusta o padding do botão de reinício */
    }
}